build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

*.a
*.o
*.gch

/BSG_CLP

.Rhistory

.agent.md
Informe_cambios.md